@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #f8f9fa;
  --color-secondary: #0433ab;
  --color-secondaryHover: #1e49b6;

  --default-font-family: "Roboto";
  --font-logo: "Tektur", sans-serif;
}

* {
  transition: 350ms;
}

.bgImage {
  background-image: url(/home-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
